<form action="/searches" method="post">
  <%= token_tag %>
  <p><label>Please Enter the Business: <input type="text" name="search[query1"]></label></p>
  <p><label>Please Enter a City: <input type="text" name="search[query2"]></label></p>
  <input class="btn btn-block btn-lg btn-info" id="submit-button" type="submit" value="Search the Crowds"><br>
</form>

<p>The Crowd says go to:</p>
<%= link_to @display.name, @display.url, :target => "_blank" %>