<form action="/searches" method="post">
  <p><label>Query 1<input type="text" name="search[query1"]></label></p>
  <p><label>Query 2<input type="text" name="search[query2"]></label></p>
  <input type="submit" value="Search the Crowds"><br>
</form>