<form action="/searches" method="post">
  <%= token_tag %>
  <p><label>Query 1 <input type="text" name="search[query1"]></label></p>
  <p><label>Query 2 <input type="text" name="search[query2"]></label></p>
  <input class="btn btn-block btn-lg btn-info" id="submit-button" type="submit" value="Search the Crowds"><br>
</form>